:root {
    --primcolor: #ff640a;
    --seccolor: black;
    --alternatetext: gray;

}

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital@0;1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background-color: var(--seccolor);
    color: white;
    font-family: "Maven Pro", sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    background-color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    position: sticky;
    top: 0;
}

nav img {
    height: 30px;
    margin-left: 30px;
}

.header-buttons {
    display: flex;
    margin-right: 50px;
    gap: 20px;
}

button {
    background-color: var(--primcolor);
    padding: 5px 40px 5px 40px;
    border: 0px;
    border-radius: 20px;
    color: black;
    font-weight: 750;
}

.header-buttons :nth-child(2) a{
    color: black;
}

.login-button {
    background-color: var(--seccolor);
    font-weight: 900;
    padding: 5px 25px 5px 25px;
    border: 2px solid var(--alternatetext);
    border-radius: 20px;
}

.main-content {
    display: flex;
    justify-content: left;
    margin: 100px 200px 80px 200px;


}

.main-content img {
    width: 32vw;
    height: auto;
}

.main-content div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.main-content div h3 {
    font-size: xx-large;
    align-self: flex-start;
    margin-top: 5px;
    font-weight: 900;
    padding: 0px 30px 0px 30px;
}

.main-content div button {
    margin-bottom: -8px;
    font-size: larger;
}

.main-content div p {
    font-size: x-small;
    padding: 0px 80px 0px 80px;
    text-align: justify;
}

.heading {
    display: flex;
    width: 100vw;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
}

.offer-card-container {
    display: grid;
    grid-template-columns: 330px 330px;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.offer-card {
    border: 1px solid var(--primcolor);
    justify-content: center;
    border-radius: 23px;
}

.offer-card h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 40px 0px 40px;
    margin-top: 20px;
}

.offer-card h2 {
    display: flex;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

.offer-card .offer-head {
    font-size: xx-large;
    font-weight: 900;
}

.offer-card button {
    margin-left: 31px;
    margin-top: 20px;
    padding: 11px 84px 11px 84px;
    margin-bottom: 20px;
}

.offer-card ul {
    list-style: none;
    font-size: medium;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
}

.offer-card ul li {
    margin-bottom: 20px;
    font-size: small;
}

.offer-para {
    display: flex;
    justify-content: center;
    font-size: small;
    text-align: center;
    margin: 10px 282px;
    color: var(--alternatetext);
}

.watch {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: -webkit-xxx-large;
}

.stream {
    text-align: center;
    color: var(--alternatetext);
}

.anime-content {
    display: grid;
    margin-top: 80px;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    gap: 32px;
    justify-content: center;
    margin-bottom: 80px;
}

.anime-card img {
    width: 150px;

}

.anime-card h5 {
    margin-bottom: 8px;
}

.anime-card span {
    font-size: small;
    color: var(--alternatetext);
}

.existing-member h1 {
    font-size: xxx-large;
    font-weight: 900;
}

.existing-member {
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-items: center;
    margin-bottom: 120px;
}

.existing-member button {
    padding: 10px 80px;
}

.premium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
}

.premium h1 {
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 20px;
}

.premium p {
    text-align: center;
    font-size: large;
}

.premium button {
    height: 50px;
    width: 200px;
    margin-top: 30px;
    align-self: center;
    font-size: small;
    margin-bottom: 56px;
    padding: 3px 9px 3px 9px;
}



.premium button img {
    background-color: transparent;
    height: 20px;
    transform: rotate(180deg) translateY(-5px) translateX(-10px);
}

.facilities {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.facility p {
    font-size: small;
    color: antiquewhite;
    font-weight: 100;
}

.facility img {
    margin-left: 42px;
    margin-bottom: 8px;
}

.premium :nth-child(5) {
    text-align: center;
    font-size: small;
}

.game-panel {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    gap: 28px;
    margin-bottom: 130px;
}

.forza-img img {
    width: 500px;
}

.forzacard img {
    width: 500px;
    justify-self: center;
}

.forzacard h3 {
    font-size: xx-large;
    margin-bottom: 8px;
}

.faqheading {
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 30px;
}

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 110px;
}

.ques {
    width: 670px;
    gap: 10px;
    border-bottom: 1px whitesmoke solid;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 20px;
}

.ques span {
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    justify-self: center;
}

.ques img {
    width: 24px;
    background-color: transparent;
    align-items: flex-end;
    filter: invert(1);
}

.horizontal{
    margin-bottom: 110px;
}

.horizontal h2{
    text-align: center;
    font-size: xx-large;
    font-weight:900;
    margin-bottom: 20px;
}

.horizontal p{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 90px;
}

.horizontal a{
    color: var(--primcolor);
}

.horizontal h5{
    text-align: center;
    font-weight: 400;
    font-size: medium;
}

footer{
    display: flex;
    width: auto;
    gap: 50px;
    justify-content:space-around;
    margin-bottom: 50px;
}

.footer-card ul{
    list-style: none;
}

.footer-card h2{
    font-size: medium;
    margin-bottom: 18px;
}

.footer-card ul li{
    margin-bottom: 10px;
    font-size:smaller ;
}

.footer-card ul li a{
    color: var(--alternatetext);
}

.footer-heading{
        color: var(--alternatetext);
        font-size: small;
        margin-bottom: 100px;
        margin-left: 100px;
        font-weight: 500;
}